#

#vol/nginx/


generated.nginx.*.conf

.env
.env.*
.env.local

vol/nginx/conf.d/default.conf

archive/
docs-exclude/

/x/
/ztmp/
backup/
certs/
copyof/

# docker-compose.yml

.DS_Store
node_modules
# start.sh


local.ini
# docker.ini


